body{
    margin: 0px;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.205);
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: black;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}
header > h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 1.5em;
}
div#conteiner1 > div,p{
    padding: 10px;
    background-color: white;
   margin: auto;
   max-width: 500px;
}
#button{
    padding: 5px;
    background-color: black;
    color: white;
}
#button:hover{
    background-color: rgba(49, 48, 48, 0.151);
    color: black;
}